* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 32px;
  padding: 20px;
}

.container {
  background: #888;
  height: 100px;
  width: 300px;
}

.containerTwo {
  position: absolute;
  top: 50px;
  left: 10px;
  color: red;
  font-size: 32px;
  padding: 20px;
}

.cookie-notice {
  background: #800;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
